.main{
  display:flex;
  flex-direction: column;
  position: absolute;
  overflow: hidden;
  width: 100%;
  min-height: 100vh;
  background-color: rgb(124, 124, 124);
 
}

.timantit{
  display: flex;
  flex-direction: column;
  width: 80%;
 justify-content:center;
 margin-left:10%;
  margin-top: 15px;
}

.timantti{
  background-color: rgb(28, 97, 91);
  height: 35px;
  width: 100%;
  font-size: 25px;
  margin-bottom: 5px;
  justify-content: center;

}

.timanttiOtsikko{
  font-weight: bold;
}

.mainos{
  background-color: rgb(77, 147, 194);
  height: 35px;
  width: 100%;
  font-size: 25px;
  margin-bottom: 5px;
  
}
.laatikko{
  display: flex;
  width: 100%;
  justify-content: center; 
}



.sidebar{
  display: flex;
  flex-direction: column;
  width:19%;
  background-color: white;
  min-height: 100vh;
  margin: 1%;

}

.headerSidebar{
  font-size: 40px;
  font-family: "Fantasy", Copperplate;
  font-style: bold;
  border-bottom: 1px solid rgb(77, 147, 194);
}

.luetuimmatBox{
  display: flex;
  flex-direction: row;
  width: 100%;
  border-bottom: 1px solid rgb(77, 147, 194);
  margin:5px;
}

.luetuimmatBox2{
  width: 100%;
 
}
.sideBarNumero{
  display: flex;
  flex-direction: column;
  width: 60px;
  height: 60px;
  font-size:45px;  
  justify-content:start;
}
.otsikko{
  font-weight:bold;
  border-right: 1px solid rgb(77, 147, 194);
  margin-right: 4px;
}


.titlebar{
  background-color: rgb(10, 10, 78);
  height:70px;
  display: flex; 
  flex-direction: column;
  justify-content: center;
}

.title{
  display: flex; 
  justify-content: space-between;
  
}
.bigTitle{
 
  color: white;
  font-size: 50px;
  font-family: "Fantasy", Copperplate;
  margin-left: 200px;
}
.smallTitle{
 
  color: white;
  font-size: 30px;
  font-family: "Fantasy", Copperplate;
  margin: 15px;
  
}

.tilaa{
  display: flex;
  justify-content: center;
  color: blue;
  background-color: white ;
  border-radius: 25px;
  padding: 5px;
  width: 100px;
  font-size: 30px;
  font-family: "Fantasy", Copperplate;
  margin: 10px;
}

.kirjaudu{
  color: white;
  font-size: 30px;
  font-family: "Fantasy", Copperplate;
  margin: 15px;
}

.valikko{
  color: white;
  font-size: 30px;
  font-family: "Fantasy", Copperplate;
  margin: 15px;
  margin-right: 185px;
}
.article{
  display:flex;
  flex-direction: column;
  width: 59%;
  border-top: 3px rgb(10, 10, 78);
  background-color: white;
  min-height: 100vh;
  margin: 1%;
}
.artikkeliOtsikko{
  font-size: 50px;
  font-family: "Fantasy", Copperplate;
  font-style: bold;
}

.seuranta{
  font-size: 20px;
  font-family: "Fantasy", Copperplate;
  font-style: bold;
  color: red;
}

.blue{
  color: rgb(53, 97, 219);
}
