.app{
  width: 100%;
  min-height: 100vh;
  background-color: rgb(233, 234, 237);
}
.headerOut
{
  background-color: rgb(0, 25, 76);
  color: white;
  font-size: 30px;
}
.center{
  display: flex; 
  margin-left: 100px;
  margin-right: 100px;
  justify-content: space-between;
}
.headerLeft{
  display: flex; 
}
.headerCenter
{
  display: flex; 
  justify-content: center;
  margin-top: 10px;
}

.headerCenter > .headerElement{
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 5px;
}

.headerRight
{
  display: flex; 
  
}

.headerRight > .headerElement{
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 5px;
}
.img{
  
  margin-left: 20px;
  margin-top: 11px;
}

.order{
  display: flex;
  justify-content: center;
  color: rgb(0, 25, 76);
  background-color: white ;
  border-radius: 25px;
  padding: 5px;
  width: 100px;
  font-family: "Fantasy", Copperplate;
  margin: 10px;
}

.timantit{
  display: flex;
  flex-direction: column;
  margin-left:120px;
  margin-right: 120px;
  margin-top: 15px;
  color: white;
}

.timantti{
  background-color: rgb(78, 150, 164);
  height: 35px;
  width: 100%;
  font-size: 25px;
  margin-bottom: 5px;
  justify-content: center;
  
}

.timanttiOtsikko{
  font-weight: bold;
}

.mainos{
  background-color: rgb(63, 185, 226);
  height: 35px;
  width: 100%;
  font-size: 25px;
  margin-bottom: 5px;
  
}
.sidebar{
  display: flex;
  flex-direction: column;
  width:19%;
  background-color: white;
  min-height: 100vh;
  margin: 1%;

}

.headerSidebar{
  font-size: 40px;
  font-family: "Fantasy", Copperplate;
  font-style: bold;
  border-bottom: 1px solid rgb(77, 147, 194);
}

.luetuimmatBox{
  display: flex;
  flex-direction: row;
  width: 100%;
  border-bottom: 1px solid rgb(77, 147, 194);
  margin:5px;
}

.luetuimmatBox2{
  width: 100%;
 
}
.sideBarNumero{
  display: flex;
  flex-direction: column;
  width: 60px;
  height: 60px;
  font-size:45px;  
  justify-content:start;
}
.otsikko{
  font-weight:bold;
  border-right: 1px solid rgb(77, 147, 194);
  margin-right: 4px;
}
.article{
  display:flex;
  flex-direction: column;
  width: 66%;
  border-top: 3px rgb(10, 10, 78);
  background-color: white;
  min-height: 100vh;
  margin: 1%;
}
.artikkeliOtsikko{
  font-size: 50px;
  font-family: "Fantasy", Copperplate;
  font-style: bold;
}

.seuranta{
  font-size: 20px;
  font-family: "Fantasy", Copperplate;
  font-style: bold;
  color: red;
}

.blue{
  color: rgb(53, 97, 219);
}
.laatikko{
  display: flex;
  width: 100%;
  justify-content: center; 
  
}